<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Ajax Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #04456b;">
        <a class="navbar-brand m-2 p-1" href="#">Django Ajax Profile</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2 class="text-center mt-5">New Ajax Proofile</h2>
        <h4 class="text-success text-center"></h4>
        <hr>
        <form class="container mt-5" id="mainForm">
            {% csrf_token %}
            <div class="mb-3 mr-5">
                <input type="text" class="form-control" id="firstName" name="firsName" placeholder="Enter First Name here">
            </div>
            <div class="mb-3 mr-5">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name here">
            </div>
            <div class="mb-3 mr-5">
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email here">
            </div>
            <div class="mb-3 mr-5">
                <input type="text" class="form-control" id="profession" name="profession" placeholder="Enter Profession here">
            </div>
            <div class="mb-3 mr-5">
                <input type="number" class="form-control" id="age" name="age" placeholder="Enter Age here">
            </div>

            <button type="submit" class="btn btn-success" type="button">Submit</button>
        </form>
    </div>


    <script type="text/javascript">
        $(document).on('submit', '#mainForm', function(e) {
            e.preventDefault();

            $.ajax({
                type:'POST',
                url:'/create',
                data:{
                    firstName: $('#firstName').val(),
                    lastName: $('#lastName').val(),
                    email: $('#email').val(),
                    profession: $('#profession').val(),
                    age: $('#age').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data) {
                    alert("Profile Created Successfully!!....")
                    ("h4").html(data)
                }
            })
        })

    </script>

</body>
</html>